@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.min.css";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white dark:bg-neutral-950 text-neutral-900 dark:text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
